<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/sidebar.css">
</head>

<body>

    <div id="container">

        <div id="sidebar">

            <div id="sidebarLandingHeader" class="sidebarHeader">
                <div class="line"></div>
                <div class="header">landing</div>
                <div class="line"></div>
            </div>

            <div id="sidebarLandingShit">
                <div class="sidebarSection">
                    <a href="about.html" class="sbASection">about me</a>
                </div>
                <div class="sidebarSection">
                    <a href="#" class="sbASection">projects</a>
                </div>
                <div class="sidebarSection">
                    <a href="#" class="sbASection">services</a>
                </div>
                <div class="sidebarSection">
                    <a href="contacts.html" class="sbASection">contacts</a>
                </div>
                <div class="sidebarSection">
                    <a href="#" class="sbASection">blog</a>
                </div>
            </div>

            <div id="sidebarDevHeader" class="sidebarHeader">
                <div class="line"></div>
                <div class="header">dev section</div>
                <div class="line"></div>
            </div>

            <div id="sidebarDevShit">
                <div class="sidebarSection">
                    <a href="#" class="sbASection">my apis</a>
                </div>
                <div class="sidebarSection">
                    <a href="#" class="sbASection">public data</a>
                </div>
                <div class="sidebarSection">
                    <a href="#" class="sbASection">service status</a>
                </div>
            </div>

        </div>

        <div id="main">

            <div id="logoContainer">
                <div id="logoImgContainer">
                    <img src="../assets/img/personal_logo.png" alt="">
                </div>
                <div id="logoTextContainer">
                    Freelance Developer
                </div>
            </div>

            <div id="sectionLinks">

                <div class="sLinkContainer">
                    <a href="about.html">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path
                                    d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z" />
                            </svg>
                        </div>
                        <a href="about.html" class="sLink">About me</a>
                    </a>
                </div>

                <div class="sLinkContainer">
                    <a href="#">
                        <div id="k1" class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path
                                    d="M88 48C101.3 48 112 58.75 112 72V120C112 133.3 101.3 144 88 144H40C26.75 144 16 133.3 16 120V72C16 58.75 26.75 48 40 48H88zM480 64C497.7 64 512 78.33 512 96C512 113.7 497.7 128 480 128H192C174.3 128 160 113.7 160 96C160 78.33 174.3 64 192 64H480zM480 224C497.7 224 512 238.3 512 256C512 273.7 497.7 288 480 288H192C174.3 288 160 273.7 160 256C160 238.3 174.3 224 192 224H480zM480 384C497.7 384 512 398.3 512 416C512 433.7 497.7 448 480 448H192C174.3 448 160 433.7 160 416C160 398.3 174.3 384 192 384H480zM16 232C16 218.7 26.75 208 40 208H88C101.3 208 112 218.7 112 232V280C112 293.3 101.3 304 88 304H40C26.75 304 16 293.3 16 280V232zM88 368C101.3 368 112 378.7 112 392V440C112 453.3 101.3 464 88 464H40C26.75 464 16 453.3 16 440V392C16 378.7 26.75 368 40 368H88z" />
                            </svg>

                        </div>
                        <a href="" class="sLink">Projects</a>
                    </a>
                </div>

                <div class="sLinkContainer">
                    <a href="contacts.html">
                        <div id="k2" class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path
                                    d="M464 64C490.5 64 512 85.49 512 112C512 127.1 504.9 141.3 492.8 150.4L275.2 313.6C263.8 322.1 248.2 322.1 236.8 313.6L19.2 150.4C7.113 141.3 0 127.1 0 112C0 85.49 21.49 64 48 64H464zM217.6 339.2C240.4 356.3 271.6 356.3 294.4 339.2L512 176V384C512 419.3 483.3 448 448 448H64C28.65 448 0 419.3 0 384V176L217.6 339.2z" />
                            </svg>
                        </div>
                        <a href="contacts.html" class="sLink">Contacts</a>
                    </a>
                </div>

                <div class="sLinkContainer">
                    <a href="">
                        <div id="k3" class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                <path
                                    d="M414.8 40.79L286.8 488.8C281.9 505.8 264.2 515.6 247.2 510.8C230.2 505.9 220.4 488.2 225.2 471.2L353.2 23.21C358.1 6.216 375.8-3.624 392.8 1.232C409.8 6.087 419.6 23.8 414.8 40.79H414.8zM518.6 121.4L630.6 233.4C643.1 245.9 643.1 266.1 630.6 278.6L518.6 390.6C506.1 403.1 485.9 403.1 473.4 390.6C460.9 378.1 460.9 357.9 473.4 345.4L562.7 256L473.4 166.6C460.9 154.1 460.9 133.9 473.4 121.4C485.9 108.9 506.1 108.9 518.6 121.4V121.4zM166.6 166.6L77.25 256L166.6 345.4C179.1 357.9 179.1 378.1 166.6 390.6C154.1 403.1 133.9 403.1 121.4 390.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4L121.4 121.4C133.9 108.9 154.1 108.9 166.6 121.4C179.1 133.9 179.1 154.1 166.6 166.6V166.6z" />
                            </svg>

                        </div>
                        <a href="" class="sLink">Dev Portal</a>
                        </a>
                </div>
            </div>

        </div>
    </div>

</body>

</html>