
#main {
    padding: 40px 64px 0px 64px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.column {
    width: 600px;
}


#sbAboutMe {
    color: #889CF4;
}

.aboutHeader {
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    color: #EFEFEF;
}

.aboutCard {
    width: 620px;
    color: #EFEFEF;
    margin-bottom: 50px;
}

br {
    margin-bottom: 12px;
}

.key {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.value {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: normal;
}


#leftStuff {
    color: #EFEFEF;
    width: 100%;
    margin-top: 160px;
    font-style: italic;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}


.bold { font-weight: bold }

#rightStuff {
    color: #EFEFEF;
    width: 100%;
    margin-top: 80px;
    font-style: italic;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}